<li class="stuff-to-do-item <%= issue.css_classes if issue.respond_to?(:css_classes) %> <%= issue_counter.odd? ? "odd" : "even" %>" id="stuff_<%= issue.id %>">

<div class="status">
  <div class="progress"><%= progress_bar(issue.done_ratio, :width => '100%') %></div>
  <% if issue.estimated_hours && issue.estimated_hours > 0 %>
    <div class="estimate"><%= h(l_hours(issue.estimated_hours)) %> &nbsp;</div>
  <% else %>
    <div class="estimate"><strong>No estimate</strong></div>
  <% end %>
  <% if issue.status.to_s == 'QA' %>
    <div class="issue-status issue-status-qa">
  <% elsif issue.status.to_s == 'Feedback' %>
    <div class="issue-status issue-status-feedback">
  <% else %>
    <div class="issue-status">
  <% end %>
      <%= h(issue.status) %>
    </div>
  <div style="clear:both;"></div>
</div>

<div class="version">
  <% if issue.fixed_version %>
    <div class='tags' style='text-align: left;'>
      <span class='tag-nube-1' style='font-size: 1em;'>
        <span class='tag-label-color' style='color:#ffffff;background-color:<%= tag_color(issue.fixed_version) %>'>
          <%= link_to(issue.fixed_version.to_s, version_path(:id => issue.fixed_version.id)) %>
        </span>
      </span>
    </div>
  <% else %>
    <span style="background-color:#FFF5B0;">
      [ NO SPRINT ]
    </span>
  <% end %>
  <br />
  <br />
  Due
  <br />
  <%= issue.due_date ? "[ " + issue.due_date.to_time.strftime('%m/%d/%Y') + " ]" : "[ - ]" %>
</div>

<div class="issue-details">
<%= link_to(image_tag('ticket.png') + '#' + h(issue.id), :controller => 'issues', :action => 'show', :id => issue) %>
[<%= h(issue.project.name) %>]
<%= h(issue.subject) %>
<span><%= render_tags_list(issue.tags, :style => :simple_cloud) %></span>
</div>

<div style="clear:both;"></div>
</li>
